---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import Avatar from "../../assets/avatar.png";
import IconBadge from "../IconBadge.astro";
const socials = [
  {
    name: "LinkedIn",
    icon: "fa6-brands:linkedin",
    link: "https://www.linkedin.com/in/phat-nguyen-tien/",
  },
  {
    name: "Instagram",
    icon: "fa6-brands:instagram",
    link: "https://www.instagram.com/sep_neit.tahp/",
  },
  {
    name: "Facebook",
    icon: "fa6-brands:facebook",
    link: "https://www.facebook.com/jack.willam2003/",
  },
];
---

<div class="w-full h-full">
  <div class="w-full flex flex-col gap-4 sticky top-10">
    <div
      id="brief"
      class="flex flex-col gap-2 justify-center items-center p-3 rounded-2xl bg-white dark:bg-dark"
    >
      <div class="rounded-xl w-[250px] lg:w-full aspect-square overflow-hidden relative group">
        <Image src={Avatar} alt="Avatar" class="size-full" />
        <a
          href="/about"
          class="absolute inset-0 size-full opacity-0 bg-transparent group-hover:opacity-100 flex justify-center items-center group-hover:bg-dark/40 transition-all group/icon"
        >
          <Icon
            name={"fa6-regular:address-card"}
            class={"size-14 text-white group-hover/icon:scale-100 scale-0 transition-all"}
          />
        </a>
      </div>
      <h1 class="mt-2 font-bold text-xl text-dark dark:text-white">Nguyen Tien Phat</h1>
      <span class="h-1 w-8 bg-pink-400 rounded-lg"></span>
      <p class="text-center text-balance text-dark dark:text-white leading-relaxed">
        I'm currently a senior student at <a
          class="highlight-text hover:bg-pink-100 transition-all p-1 rounded-md"
          href="https://www.sgu.edu.vn/"
          target="_blank">Sai Gon University</a
        >
      </p>
      <div class="flex gap-2">
        {
          socials.map((item, _) => (
            <a href={item.link} target="_blank" aria-label={item.name}>
              <IconBadge item={item.icon} toolTipText={item.name} />
            </a>
          ))
        }
      </div>
    </div>
    <div class="p-3 bg-white dark:bg-dark rounded-2xl flex items-center gap-2">
      <Icon name={"fa6-solid:location-dot"} class={"size-6 text-pink-400"} />
      <span class="text-balance text-dark dark:text-white">Ho Chi Minh City, Vietnam</span>
    </div>
    <div class="p-3 bg-white dark:bg-dark rounded-2xl flex items-center gap-2">
      <Icon name={"fa6-solid:globe"} class={"size-6 text-pink-400"} />
      <span class="text-balance text-dark dark:text-white">English & Vietnam</span>
    </div>
    <div class="p-3 bg-white dark:bg-dark rounded-2xl flex items-center gap-2">
      <Icon name={"fa6-solid:clock"} class={"size-6 text-pink-400"} />
      <span class="text-balance text-dark dark:text-white">938 hours coding</span>
    </div>
    <div class="p-3 bg-white dark:bg-dark rounded-2xl flex items-center gap-2">
      <Icon name={"fa6-solid:star"} class={"size-6 text-pink-400"} />
      <span class="text-balance text-dark dark:text-white">6 stars earned on Github</span>
    </div>
  </div>
</div>
